@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0 ;
    padding: 0;
    border: 0;
    list-style: none;
 
}

body{
    
    font-family: 'Roboto', sans-serif;    
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    max-width: 940px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
    
}

.header img {
    margin-left: 0;
    margin-right: 90px;
}


.menu {
    display: flex;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    display: block;
    /* padding: 10px; */
}

.principal {
    width: 940px;
    height: 366px;
    /* margin-left: 230px; */
    background-color: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.principal .texto .titulo {
    font-family: Roboto-Bold;
    font-size: 32px;
    line-height: 38px;
    color: #111111;
}

.principal .texto {
    margin-left: 60px;
    
}

.principal .texto p {
    width: 316px;
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.principal img {
    width: 216px;
    height: 300px;
    align-self: flex-end;
    margin-right: 100px;
}


/* === GRID === */

.cards {
    width: 940px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
}

#head {
    font-family: Roboto-Bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 50px;
    color: #111111;
    margin-bottom: 20px;
    
}

.card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card .card-content p {
    font-family: Roboto-Regular;
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-top: 20px;
    
}

.card .card-info {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-top: 5px;
}

footer {
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 75px;
    
        
}


/* === SOBRE === */

h1 {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#sobre {
    font-size: 18px;
    line-height: 28x;
    color: #444444;
}

h2 {
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 20px;
}



/* === MODAL ==== */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards2 {
    text-align: center;
    width: 660PX;
    height: 440PX;
    background: #FFFFFF;
    position: relative;
    border-radius: 15px;
}

.modal-content img {
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 30px 30px 20px 30px ;
}



/* === MODAL ACTIVE ==== */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-card-content {
    font-family: Roboto-Regular;
    font-size: 24px;
    margin-bottom: 5px;
    color: #111111;
    text-align: center;
}

.modal-card-info {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #777777;
    text-align: center;
}

.card2 .close-modal #close {
    color: #999999;
    cursor: pointer;
    position: absolute;
    left: 281px;
    bottom: 30px;
    text-align: center;
}