@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    max-width: 940px;
    
    
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.header img {
    margin-right: 90px;
}


.menu {
    display: flex;
}

.menu li {
    margin-left: 30px;
}

.menu li a {
    display: block;
    padding: 10px;
}






.principal {
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    border-radius: 30px;
    
}