{% extends "layout.njk" %}
    
        {% block content %}

        <section class="cards">
            
            <div class="card" id="{{item.title}}">
                <div class="card-image-container">
                    <img src="{{item.image}}" alt="imagem de {{item.title}}">
                </div>
                <div class="card-content" id="{{item.title}}">
                    <h4>{{item.title}}</h4>
                </div>
                <div class="card-info">
                    <h3>{{item.author}}</h3>
                </div>
            </div>

        </section>
  
    {% endblock %}

    
    
    
    <script src="scripts.js"></script>
</body>
</html>