{% extends "layout.njk" %}
    
        {% block content %}
        <section class="principal">
            <div class="texto">
                <p class="titulo"><strong>As melhores receitas</strong></p>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="images/chef.png" alt="chef">
        </section>
        
        <p id="head"><strong>Mais acessadas</strong></p>

        <section class="cards">
            {% for item in items %}
            <div class="card">
                <div class="card-image-container">
                    <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                </div>
                <div class="card-content">
                    <h4>{{item.title}}</h4>
                </div>
                <div class="card-info">
                    <h3>{{item.author}}</h3>
                </div>
            </div>
            {% endfor %}

            {# <div class="card">
                <div class="card-image-container">
                    <img src="images/pizza.png" alt="pizza">
                </div>
                <div class="card-content">
                    <h4>Pizza 4 estações</h4>
                </div>
                <div class="card-info">
                    <h3>por Fabiana Melo</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="images/espaguete.png" alt="espaguete">
                </div>
                <div class="card-content">
                    <h4>Espaguete ao alho</h4>
                </div>
                <div class="card-info">
                    <h3>por Júlia Kinoto</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="images/lasanha.png" alt="lasanha">
                </div>
                <div class="card-content">
                    <h4>Lasanha mac n' cheese</h4>
                </div>
                <div class="card-info">
                    <h3>por Juliano Vieira</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="images/doce.png" alt="docinhos pão-do-céu">
                </div>
                <div class="card-content">
                    <h4>Docinhos pão-do-céu</h4>
                </div>
                <div class="card-info">
                    <h3>por Ricardo Golvea</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-image-container">
                    <img src="images/asinhas.png" alt="asinhas de frango">
                </div>
                <div class="card-content">
                    <h4>Asinhas de frango ao barbecue</h4>
                </div>
                <div class="card-info">
                    <h3>por Vania Steroski</h3>
                </div>
            </div> #}

        </section>
        {% endblock %}

        
  
