<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>   
    
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="container">
        <header class="header">        
            <a href="/"><img src="logo.png" alt="logo"></a>
            
            <nav>
                <ul class="menu">
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/receitas">Receitas</a></li>
                </ul>
            </nav>
        </header>
        
        {% block content %} {% endblock %}
    
        {% block footer %}
        <footer>
            Todos direitos reservados, receitas Foodfy.
        </footer>
        {% endblock %}
    </div>
</body>
</html>